[submodule "python/python-examples"]
	path = python/python-examples
	url = https://github.com/yasirbhutta/python-examples.git

[submodule "html-css/html-css3-examples"]
	path = html-css/html-css3-examples
	url = https://github.com/yasirbhutta/html-css3-examples.git



