{% if show_heading == true %}
<h2>⭐️ Blackboard LMS User Guides and Resources</h2>
<p>Explore Blackboard LMS with this beginner-friendly guide. Learn how to use Blackboard for online teaching, learning, and course management. Discover step-by-step user guides, essential features, tips, and best practices for students, teachers, and administrators to enhance your e-learning experience.</p>
{% endif %}

<div class="toc-grid">
    <div class="toc-item"><a href="#">Student's User Guide</a></div>
    <div class="toc-item"><a href="/blackboard-lms/">Teacher's User Guide</a></div>
    <div class="toc-item"><a href="#">Admin User Guide</a></div>
</div>