{% if show_heading == true %}
<h2>⭐️ SAP for Education and Research Contents</h2>
<p>Explore SAP with this beginner-friendly guide. Learn the basics of Excel, including formatting, functions, tables, sorting, filtering, and advanced features like conditional formatting, data validation, and PivotTables. Discover tips and tricks, sharing and co-authoring, charts, and linked data types such as Power Query and Python integration to enhance your productivity.</p>
{% endif %}

<div class="toc-grid">
    <div class="toc-item"><a href="#">Student's User Guide</a></div>
    <div class="toc-item"><a href="#">Teacher's User Guide</a></div>
    <div class="toc-item"><a href="#">Admin User Guide</a></div>
</div>