{% if show_heading %}
<h2>⭐️ CSS Table of Contents</h2>
<p>Learn the basics of CSS, including selectors, properties, and the box model.</p>
{% endif %}
<ul>
  <li><a href="/html-css/docs/css-basics.html">Introduction to CSS</a></li>
  <li><a href="/html-css/docs/css-selectors.html">CSS Selectors</a></li>
  <li><a href="/html-css/docs/css-text-styles.html">CSS Text Styling</a></li>
  <li><a href="/html-css/docs/css-properties.html">CSS Properties</a></li>
  <li><a href="/html-css/docs/box-model.html">CSS Box Model</a></li>
  <!-- <li><a href="{{ topic }}/flexbox.html">CSS Flexbox</a></li> -->
  <!-- <li><a href="{{ topic }}/grid.html">CSS Grid</a></li> -->
</ul>