{% if show_heading == true %}
<h2>⭐️ JavaScript Contents</h2>
<p>Learn the basics of JavaScript.</p>
{% endif %}
<ul>

<h3>JavaScript Fundamentals</h3>
<div class="toc-grid">
    <div class="toc-item"><a href="/javascript/docs/basics.html">Introduction to JavaScript</a></div>
    <div class="toc-item"><a href="/javascript/docs/basics/real-world-javascript-examples.html">Real World JavaScript Examples</a></div>
</div>

<h3>Events</h3>

<div class="toc-grid">
    <div class="toc-item"><a href="/javascript/docs/events/what-is-events.md">What is Event</a></div>
    <div class="toc-item"><a href="/javascript/docs/events/onclick-event.md">'onclick Event</a></div>
</div>