{% if show_heading == true %}
<h2>⭐️ JavaScript Contents</h2>
<p>Learn the basics of JavaScript.</p>
{% endif %}
<ul>
<div class="toc-grid">
    <div class="toc-item"><a href="/javascript/docs/basics.html">Introduction to JavaScript</a></div>
    <!-- <div class="toc-item">Installation</div>
    <div class="toc-item">Usage</div>
    <div class="toc-item">Configuration</div>
    <div class="toc-item">API Reference</div>
    <div class="toc-item">Examples</div>
    <div class="toc-item">Contributing</div>
    <div class="toc-item">License</div>
    <div class="toc-item">FAQ</div> -->
  </div>