{% if show_heading == true %}
<h2>⭐️ Microsfot Excel Contents</h2>
<p>Explore Microsoft Excel with this beginner-friendly guide. Learn the basics of Excel, including formatting, functions, tables, sorting, filtering, and advanced features like conditional formatting, data validation, and PivotTables. Discover tips and tricks, sharing and co-authoring, charts, and linked data types such as Power Query and Python integration to enhance your productivity.</p>
{% endif %}
<ul>
  <li><a href="/ms-excel/docs/basics.html">Introduction to Excel</a></li>
  <li><a href="/ms-excel/docs/formatting.html">Formatting in Excel</a></li>
  <li><a href="/ms-excel/docs/functions.html">Functions</a></li>
  <li><a href="/ms-excel/docs/tables.html">Tables in Excel</a></li>
  <li><a href="/ms-excel/docs/sort-filter.html">Sort and Filter</a></li>
  <li><a href="/ms-excel/docs/tips-and-tricks.html">Tips and Tricks</a></li>
  <li><a href="/ms-excel/docs/advance-features.html">Advance Features: Conditional Formatting, Data Validation PivotTables</a></li>
  <li><a href="/ms-excel/docs/share-coauthor.html">Share & co-author</a></li>
</ul>

<h3>Charts</h3>

<ul>
    <li><a href="https://docs.google.com/presentation/d/1mwoqCXAtQsQ7cdvLuVIv0y1qBwSwsOBCeqeWJ4i1Wps/">Slides</a></li>
</ul>

<!-- <h3>Linked data types</h3> -->
<!-- 
<ul>
    <li><a href="/ms-excel/docs/power-query.html">Get to know Power Query</a></li>
    <li><a href="/ms-excel/docs/python-excel.html">Python in Excel</a></li>
</ul> -->
