{% if show_heading == true %}
<h2>⭐️ PHP Topics</h2>
<p>Explore Php programming with beginner-friendly and advanced tutorials. Learn the basics of Php, including variables, data types, control flow, and functions. Dive into advanced topics to enhance your Python skills.</p>
{% endif %}

<h3><a href="/php/docs/basics/"></a>PHP Basics</h3>

<div class="toc-grid">
  <div class="toc-item"><a href="/php/docs/basics/what-is-php.html">Introduction to PHP</a></div>
  <div class="toc-item"><a href="/php/docs/basics/installation.html">How to Use PHP</a></div>
  <div class="toc-item"><a href="/php/docs/basics/case-sensitivity.html">Case Sensitivity</a></div>
  <div class="toc-item"><a href="/php/docs/basics/variables-in-php.html">Variables in PHP</a></div>
  <div class="toc-item"><a href="/php/docs/basics/functions-in-php.html">Functions in PHP</a></div>
  <div class="toc-item"><a href="/php/docs/basics/variable-scope.html">Variable Scope</a></div>
  <div class="toc-item"><a href="/php/docs/basics/constants.html">Constants</a></div>
  <div class="toc-item"><a href="/php/docs/basics/string-functions.html">String Functions</a></div>
  <div class="toc-item"><a href="/php/docs/basics/comments.html">Comments</a></div>
</div>

<h3>More ...</h3>

<div class="toc-grid">
  <div class="toc-item"><a href="/php/docs/control-flow.html">Control Flow Statements</a></div>
  <div class="toc-item"><a href="/php/docs/forms.html">Forms</a></div>
  <div class="toc-item"><a href="/php/docs/mysql-php.html">PHP Connect to MYSQL</a></div>
</div>
