{% if show_heading == true %}
<h2>⭐️ Php Topics</h2>
<p>Explore Php programming with beginner-friendly and advanced tutorials. Learn the basics of Php, including variables, data types, control flow, and functions. Dive into advanced topics to enhance your Python skills.</p>
{% endif %}

<h3>Php Fundamentals</h3>
<div class="toc-grid">
  <div class="toc-item"><a href="/php/docs/basics.html">PHP Basics</a></div>
  <div class="toc-item"><a href="/php/docs/control-flow.html">Control Flow Statements</a></div>
  <div class="toc-item"><a href="/php/docs/forms.html">Forms</a></div>
  <div class="toc-item"><a href="/php/docs/mysql-php.html">PHP Connect to MYSQL</a></div>
</div>


