{% if show_heading == true %}
<h2>⭐️ Python Topics</h2>
<p>Explore Python programming with beginner-friendly and advanced tutorials. Learn the basics of Python, including variables, data types, control flow, and functions. Dive into advanced topics like object-oriented programming, decorators, and data visualization to enhance your Python skills.</p>
{% endif %}

<h3>Python Fundamentals</h3>
<div class="toc-grid">
  <div class="toc-item"><a href="/python/docs/quick-guide.html">Getting Started</a></div>
  <div class="toc-item"><a href="/python/docs/tools.html">Installation</a></div>
  <!-- - [Tasks: Installation of Tools](docs/python-task-based-learning.md) -->
  <div class="toc-item"><a href="/python/docs/basics.html">Python Language Basics</a></div>
  <div class="toc-item"><a href="/python/docs/variables.html">Variables</a></div>
  <div class="toc-item"><a href="/python/docs/data-types.html">Data Types</a></div>
  <div class="toc-item"><a href="/python/docs/operators.html">Operators</a></div>
</div>  

<h4><a href="/python/docs/control-flow.html"> Flow Control Statements</a></h4>
  <div class="toc-grid">
  <div class="toc-item"><a href="/python/docs/control-flow/python-if-elif-else.html">Conditional Statements (if, else, elif)</a></div>
  <div class="toc-item"><a href="/python/docs/control-flow/python-loops-for.html">Loops: for loop</a></div>
  <div class="toc-item"><a href="/python/docs/control-flow/python-loops-while.html">Loops: while loop</a></div>
  <div class="toc-item"><a href="/python/docs/control-flow/python-loop-control-statements.html">break, continue, pass</a></div>
  <div class="toc-item"><a href="/python/docs/control-flow/python-else-clauses-on-loops.html">else Clauses on Loops</a></div>
  <div class="toc-item"><a href="/python/docs/control-flow/python-match-statement.html">Match Statement</a></div>
</div>

<hr>

<h4> <a href="/python/docs/functions.html">Python Functions</a></h4>
<div class="toc-grid">
  <div class="toc-item"><a href="/python/docs/functions/">Defining Functions</a></div>
  <div class="toc-item"><a href="/python/docs/local-global/">Local and Global</a></div>
  <div class="toc-item"><a href="/python/docs/lambda/">Anonymous (Lambda)</a></div>
  <div class="toc-item"><a href="/python/docs/functions-in-modules/">Functions in Modules</a></div>
  <div class="toc-item"><a href="/python/docs/built_in_functions.html">Built-in Functions</a></div>
</div>

<hr>

<h4>Fundamentals more ... </h4>
<div class="toc-grid">
  <div class="toc-item"><a href="/python/docs/strings.html">Strings</a></div>
  <div class="toc-item"><a href="/python/docs/dss.html">Data Structures and Sequences</a></div>
  <div class="toc-item"><a href="/python/docs/lists/">Lists</a></div>
  <div class="toc-item"><a href="/python/docs/tuples/">Tuples</a></div>
  <div class="toc-item"><a href="/python/docs/dictionaries/">Dictionaries</a></div>
  <div class="toc-item"><a href="/python/docs/sets/">Sets</a></div>
  <div class="toc-item"><a href="/python/docs/sorting.html">Python Sorting</a></div>

  <div class="toc-item"><a href="/python/docs/files.html">Working with Files</a></div>
  <div class="toc-item"><a href="/python/docs/error.html">Exception Handling</a></div>
  <div class="toc-item"><a href="/python/docs/comprehensions.html">Comprehensions (List and Dictionary)</a></div>
  <div class="toc-item"><a href="/python/docs/python-kids.html">Python for Kids</a></div>
  <div class="toc-item"><a href="//python/docs/python-excel.html">Python in Excel</a></div>
</div>
<br>
<hr>
<br>
<h3>🧠 Python Advanced</h3>

<div class="toc-grid">
  <div class="toc-item"><a href="/python/docs/functions-adv-concepts.html">Advanced Function Concepts</a></div>
  <div class="toc-item"><a href="/python/posts/generators-in-python.html">Generator</a></div>
  <div class="toc-item"><a href="/python/docs/decorators.html">Decorators</a></div>
</div>

<h4>Object-Oriented Programming in Python (OOP)</h4>
<div class="toc-grid">
  <div class="toc-item"><a href="/python/docs/classes.html">Classes and Objects</a></div>
  <div class="toc-item"><a href="/python/docs/oop-inheritance.html">Inheritance in Python</a></div>
</div>

<h4>More...</h4>
<div class="toc-grid">
  <div class="toc-item"><a href="/python/docs/re.html">Regular Expressions</a></div>
  <div class="toc-item"><a href="/python/docs/best-practices.html">Best Practices</a></div>
  <div class="toc-item"><a href="/python/docs/data-visualization.html">Data Visualization</a></div>
  <div class="toc-item"><a href="/python/docs/data-visualization.html">Mathematics</a></div>
  <div class="toc-item"><a href="/python/docs/projects.html">Projects</a></div>
  <div class="toc-item"><a href="/python/docs/glossary-da.html">Glossary</a></div>
  <!-- Read CSV and XML Files -->
  <!-- Python Utilities -->
  <!-- Testing -->
</div>

<h3>🧠 Modules</h3>

<div class="toc-grid">
  <div class="toc-item"><a href="/python/docs/modules/calendar.md">Calendar</a></div> 
  <div class="toc-item"><a href="/python/docs/modules/random.md">Random</a></div> 
  <div class="toc-item"><a href="/python/docs/modules/math.md">Math</a></div> 
  <div class="toc-item"><a href="/python/docs/modules/pandas.md">Pandas</a></div>
  <div class="toc-item"><a href="/python/docs/modules/numpy.md">NumPy</a></div>
  <div class="toc-item"><a href="/python/docs/modules/scipy.md">SciPy</a></div>
</div>
