{% if show_heading == true %}
<h2>⭐️ Python Topics</h2>
<p>Explore Python programming with beginner-friendly and advanced tutorials. Learn the basics of Python, including variables, data types, control flow, and functions. Dive into advanced topics like object-oriented programming, decorators, and data visualization to enhance your Python skills.</p>
{% endif %}

<h3>Python Fundamentals</h3>
<div class="toc-grid">
  <div class="toc-item"><a href="/python/docs/basics.html">Python Language Basics</a></div>
  <div class="toc-item"><a href="/python/docs/variables.html">Variables</a></div>
  <div class="toc-item"><a href="/python/docs/data-types.html">Data Types</a></div>
  <div class="toc-item"><a href="/python/docs/operators.html">Operators</a></div>
  <div class="toc-item"><a href="/python/docs/control-flow.html">Control Flow</a></div>
  <div class="toc-item"><a href="/python/docs/strings.html">String Methods & Formatting</a></div>
  <div class="toc-item"><a href="/python/docs/functions.html">Defining Functions</a></div>
  <div class="toc-item"><a href="/python/docs/dss.html">Data Structures and Sequences</a></div>
  <div class="toc-item"><a href="/python/docs/sorting.html">Python Sorting</a></div>
  <div class="toc-item"><a href="/python/docs/modules-libraries.html">Modules and Libraries</a></div>
  <div class="toc-item"><a href="/python/docs/files.html">Working with Files</a></div>
  <div class="toc-item"><a href="/python/docs/error.html">Exception Handling</a></div>
  <div class="toc-item"><a href="/python/docs/comprehensions.html">Comprehensions (List and Dictionary)</a></div>
  <div class="toc-item"><a href="/python/docs/python-kids.html">Python for Kids</a></div>
  <div class="toc-item"><a href="//python/docs/python-excel.html">Python in Excel</a></div>

</div>
<!-- <ul> -->
  <!-- <li><a href=""></a> <a href="/downloads/python/basics.pdf" target="_blank" title="Download Python Basics PDF">[PDF]</a></li> -->
  <!-- <li><a href="/python/docs/variables.html">Variables</a> <a href="/downloads/python/variables.pdf" target="_blank" title="Download Variables PDF">[PDF]</a></li> -->
  <!-- <li><a href="/python/docs/data-types.html">Data Types</a> <a href="/downloads/python/data-types.pdf" target="_blank" title="Download Data Types PDF">[PDF]</a></li> -->
  <!-- <li><a href="/python/docs/operators.html">Operators</a> <a href="/downloads/python/operators.pdf" target="_blank" title="Download Operators PDF">[PDF]</a></li> -->
  <!-- <li><a href="/python/docs/control-flow.html">Control Flow</a></li> -->
  <!-- <li><a href="/python/docs/strings.html">String Methods & Formatting</a></li> -->
  <!-- <li><a href="/python/docs/functions.html">Defining Functions</a> <a href="/downloads/python/functions.pdf" target="_blank" title="Download Functions PDF">[PDF]</a></li> -->
  <!-- Functions and Methods
Built-in Functions
List Methods
Dictionary Methods
Tuple Methods
Set Methods -->
  <!-- <li><a href="/python/docs/dss.html">Data Structures and Sequences</a> <a href="/downloads/python/dss.pdf" target="_blank" title="Download Data Structures PDF">[PDF]</a></li> -->
  <!-- <li><a href="/python/docs/sorting.html">Python Sorting</a> <a href="/downloads/python/sorting.pdf" target="_blank" title="Download Sorting PDF">[PDF]</a></li> -->
  <!-- <li><a href="/python/docs/modules-libraries.html">Modules and Libraries</a> <a href="/downloads/python/modules-libraries.pdf" target="_blank" title="Download Modules and Libraries PDF">[PDF]</a></li> -->
  <!-- <li><a href="/python/docs/files.html">Working with Files</a> <a href="/downloads/python/files.pdf" target="_blank" title="Download Files PDF">[PDF]</a></li> -->
  <!-- <li><a href="/python/docs/error.html">Exception Handling</a> <a href="/downloads/python/error.pdf" target="_blank" title="Download Exception Handling PDF">[PDF]</a></li> -->
  <!-- <li><a href="/python/docs/comprehensions.html">Comprehensions (List and Dictionary)</a> <a href="/downloads/python/comprehensions.pdf" target="_blank" title="Download Comprehensions PDF">[PDF]</a></li> -->
  <!-- <li><a href="/python/docs/python-kids.html">Python for Kids</a> <a href="/downloads/python/python-kids.pdf" target="_blank" title="Download Python for Kids PDF">[PDF]</a></li> -->
  <!-- <li><a href="/python/docs/python-excel.html">Python in Excel</a> <a href="/downloads/python/python-excel.pdf" target="_blank" title="Download Python in Excel PDF">[PDF]</a></li> -->
<!-- </ul> -->
<h3>🧠 Python Advanced</h3>
<ul>
  <li><a href="/python/docs/functions-adv-concepts.html">Advanced Function Concepts</a></li>
  <li><a href="/python/posts/generators-in-python.html">Generator Functions</a></li>
  <li><a href="/python/docs/decorators.html">Decorators</a></li>
</ul>

<h3>Object-Oriented Programming in Python (OOP)</h3>
<div class="toc-grid">
  <div class="toc-item"><a href="/python/docs/classes.html">Classes and Objects</a></div>
  <div class="toc-item"><a href="/python/docs/oop-inheritance.html">Inheritance in Python</a></div>
</div>

<ul>
  <li><a href="/python/docs/re.html">Regular Expressions</a></li>
  <li><a href="/python/docs/best-practices.html">Python Performance and Best Practices</a></li>
  <li><a href="/python/docs/data-visualization.html">Data Visualization in Python</a></li>
  <li><a href="/python/docs/python-mathematics.html">Python Programming for Mathematics</a></li>
</ul>