{% if show_heading == true %}
<h2>⭐️ SAP for Education and Research Contents</h2>
<p>Explore SAP with this beginner-friendly guide. Learn the basics of Excel, including formatting, functions, tables, sorting, filtering, and advanced features like conditional formatting, data validation, and PivotTables. Discover tips and tricks, sharing and co-authoring, charts, and linked data types such as Power Query and Python integration to enhance your productivity.</p>
{% endif %}

<div class="toc-grid">
    <div class="toc-item"><a href="/sap-education-research/">Introduction to SAP</a></div></div>
<h3>Modules</h3>
<div class="toc-grid">
    
    <div class="toc-item"><a href="/sap-education-research/docs/sap-eam/">EAM</a></div>
    <div class="toc-item"><a href="/sap-education-research/docs/sap-fico/">FICO</a></div>
    <div class="toc-item"><a href="/sap-education-research/docs/sap-fm/">FM</a></div>
    <div class="toc-item"><a href="/sap-education-research/docs/sap-gm/">GM</a></div>
    <div class="toc-item"><a href="/sap-education-research/docs/sap-hcm/">HCM</a></div>
    <div class="toc-item"><a href="/sap-education-research/docs/sap-mm/">Materials Management (MM)</a></div>
    <div class="toc-item"><a href="/sap-education-research/docs/sap-ps/">PS</a></div>
    <div class="toc-item"><a href="/sap-education-research/docs/sap-gm/">Grants Management (GM)</a></div>
    <div class="toc-item"><a href="/sap-education-research/docs/sap-scm/">SCM</a></div>
    <div class="toc-item"><a href="/sap-education-research/docs/sap-slcm/">SLCM</a></div>
    <div class="toc-item"><a href="/sap-education-research/docs/sap-fiori/">🎓 SAP Fiori</a></div>
    <div class="toc-item"><a href="/sap-education-research/docs/sap-glossary.md">SAP Glossary</a></div>
    

</div>

