<div id="toc_container">
    <h1 class="toc_title">Contents</h1>
    <ul class="toc_list">
        <li><a href="{{ site.url }}/ms-excel/docs/basics.html">1 Introduction to Excel</a>
            <ul>
                <li><a href="{{ site.url }}/ms-excel/docs/basics.html">1.1 Manual Data Entry</a></li>
            </ul>
        </li>
        <li><a href="{{ site.url }}/ms-excel/docs/formatting.html">2 Formatting in Excel</a></li>
        <li><a href="{{ site.url }}/ms-excel/docs/formulas.html">3 Formulas in Excel</a></li>
        <li><a href="{{ site.url }}/ms-excel/docs/functions.html">4 Functions in Excel</a></li>
        <li><a href="{{ site.url }}/ms-excel/docs/tables.html">5 Tables in Excel</a></li>
        <li><a href="{{ site.url }}/ms-excel/docs/sort-filter.html">6 Sort and Filter</a></li>
        <li><a href="{{ site.url }}/ms-excel/docs/tips-and-tricks.html">7 Tips and Tricks</a></li>
        <li><a href="{{ site.url }}/ms-excel/docs/advance-features.html">8 Advance Features: Conditional Formatting, Data Validation PivotTables</a></li>
        <li><a href="{{ site.url }}/ms-excel/docs/share-coauthor.html">9 Share & co-author</a></li>
    </ul>
</div>