<header>
    <!-- <h1 class="title">{{ site.title | default: site.github.repository_name }}</h1> -->
    <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>

    Connect with me: <a href="https://www.youtube.com/yasirbhutta">Youtube</a> \| 
    <a href="https://www.linkedin.com/in/yasirbhutta/">LinkedIn</a> \| 
    <a href="https://whatsapp.com/channel/0029VaC3BC160eBZZSs3CW0c">WhatsApp Channel</a> \|
    <a href="https://www.facebook.com/yasirbhutta786">Facebook</a> \|
</header>