<h2>🧠 Practice & Progress</h2>

{% assign practice_links = 
  "✅ True or False:practice-and-progress/true-false,
  ✍️ Fill in the Blanks:practice-and-progress/fill-blanks,
  📝 Multiple-Choice Questions (MCQs):practice-and-progress/mcqs,
  🔍 Find and Fix Mistakes:practice-and-progress/find-fix-mistakes,
  💻 Online Quiz:practice-and-progress/quiz,
  🏋️‍♂️ Exercises:practice-and-progress/exercises,
  🧪 Mini Projects:practice-and-progress/mini-projects,
  🔄 Review Questions:practice-and-progress/review-questions" | split: "," %} 

<ul> 
{% for link in practice_links %}
  {% assign parts = link | split: ":" %}

  {% if forloop.index == 5 %}
    🌐 ✅ Online Quizzes - Test your Knowledge 📊
  {% endif %}

  {% assign link_type = course | append: "/docs/" | append: topic | append: "/" | append: parts[1] | append: "-" | append: topic | append: ".html" %}
 
  <li> <a href="{{ link_type | absolute_url }}">{{ parts[0] }}</a></li>
{% endfor %}
</ul>
