<h2>🧠 Practice & Progress</h2>

{% assign practice_links = 
  "✅ True or False:practice-and-progress/true-false,
  ✍️ Fill in the Blanks:practice-and-progress/fill-blanks,
  📝 Multiple-Choice Questions (MCQs):practice-and-progress/mcqs,
  🔍 Find and Fix Mistakes:practice-and-progress/find-fix-mistakes,
  💻 Online Quiz:practice-and-progress/quiz,
  🏋️‍♂️ Exercises:practice-and-progress/exercises,
  🧪 Mini Projects:practice-and-progress/mini-projects,
  🔄 Review Questions:practice-and-progress/review-questions" | split: "," %}

<ul> 
{% for link in practice_links %}
  {% assign parts = link | split: ":" %}
  {% if forloop.index == 2 %}
  <!-- --- -->
  {% endif %}
  {% if forloop.index == 3 %}
  <!-- --- -->
  <!-- <h3>Multiple-Choice Questions (MCQs)</h3> -->
  {% endif %}

  {% if forloop.index == 4 %}
  <!-- --- -->
  <!-- <h3>Find and Fix Mistakes</h3> -->
  {% endif %}

  {% if forloop.index == 5 %}
  <!-- --- -->
  🌐 ✅ Online Quizzes - Test your Knowledge 📊
  <!-- <h3>online quiz</h3> -->
  {% endif %}
  
  {% if forloop.index == 6 %}
  <!-- --- -->
  <!-- <h3>Coding Exercises</h3> -->
  {% endif %}
  
  {% if forloop.index == 7 %}
  <!-- --- -->
  <!-- <h3>Mini Projects</h3> -->
  {% endif %}
  
  {% if forloop.index == 8 %}
  <!-- --- -->
  <!-- <h3>Review Questions</h3> -->
  <!-- <p>The Review Questions section provides a set of questions to help students consolidate their understanding of the topic and assess their knowledge.</p> -->
  {% endif %}

<!-- - [{{ parts[0] }}]({{ topic }}/{{ parts[1] }}-{{ topic }}.html) -->
<li><a href="{{ topic }}/{{ parts[1] }}-{{ topic }}.html">{{ parts[0] }}</a></li>

{% endfor %}
</ul>
<!-- <h1>inside practice-and-progress </h1>
<p>Topic: {{ topic }}</p>
<p>Subject: {{ subject }}</p> -->