<div class="social-media">
    Connect with me:
    <i class="fa-solid fa-square-youtube"></i>
    <a href="https://www.youtube.com/yasirbhutta">Youtube</a> |
    <a href="https://www.linkedin.com/in/yasirbhutta/">LinkedIn</a> |
    <!-- <i class="fa-solid fa-thumbs-up fa-5x"></i> -->
    <a href="https://whatsapp.com/channel/0029VaC3BC160eBZZSs3CW0c">WhatsApp Channel</a> |
    <i class="fa-solid fa-square-facebook"></i>
    <a href="https://www.facebook.com/yasirbhutta786">Facebook</a> |
    <a href="https://www.instagram.com/yasirbhutta786/">Instagram</a> |
  </div>