<div class="social-media">
    Connect with me:
    <i class="fa-brands fa-youtube fa-2x" style="color:#FF0000;"></i>
    <a href="https://www.youtube.com/yasirbhutta">Youtube</a> |
    <i class="fa-brands fa-linkedin fa-2x style="color:#0077B5;"></i>
    <a href="https://www.linkedin.com/in/yasirbhutta/">LinkedIn</a> |
    <!-- <i class="fa-solid fa-thumbs-up fa-5x"></i> -->
    <i class="fa-brands fa-whatsapp fa-2x" style="color:#075E54"></i>
    <a href="https://whatsapp.com/channel/0029VaC3BC160eBZZSs3CW0c">WhatsApp Channel</a> |
    <i class="fa-brands fa-facebook fa-2x" style="color: dodgerblue;"></i>
    <a href="https://www.facebook.com/yasirbhutta786">Facebook</a> |
    <i class="fa-brands fa-instagram fa-2x" style="color:#EE2A7B;"></i>
    <a href="https://www.instagram.com/yasirbhutta786/">Instagram</a> |
  </div>