
  p,h1,h2,h3,h4,h5,h6 {
    margin-left: 10px;
    padding-left: 10px;    /* Adds space inside the paragraph */
    padding-right: 10px;
  }
  
  nav {
    /* background-color: #333; */
    padding: 10px 0;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  position: relative;
  z-index: 1;
}

.vertical-ad {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 150px;
  background-color: #e0e0e0;
  padding: 10px;
  box-shadow: 2px 0 5px #aaa;
}

.left-ad {
  left: 0;
}

.right-ad {
  right: 0;
}

