p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: 10px;
  padding-left: 10px;
  /* Adds space inside the paragraph */
  padding-right: 10px;
}

.wrapper {
  width: 1100px;
} 

section {
  width : 70%
}

/* Styles for phones (screen width 768px or smaller) */
@media screen and (max-width: 768px) {
  section {
    width: 100%;
  }
  header {
    display: none;
  }
}

header {
  width: 20%
 }

 .nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.nav-links a {
  padding: 0.5em 1em;
  background-color: #eee;
  text-decoration: none;
  border-radius: 5px;
}


/* For image-based icons */
.icon-image img {
  width: 16px;
  height: 16px;
}

.yt-video {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 = 0.5625 or 56.25%) */
}

.yt-video iframe, .yt-short iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.yt-short {
  position: relative;
  width: 100%;
  max-width: 360px;
  /* max-height: 640px; */
  /* padding-top: 177.78%; 9:16 aspect ratio (16 / 9 * 100 = 177.78%) */
  /* text-align: center;  */
  padding-top: 40%;
  min-height:360px;
}

/* #toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
} */

/* .toc_title {
    font-weight: 700;
    text-align: center;
} */

#toc_container li,
#toc_container ul,
#toc_container ul li {
  list-style: outside none none !important;
}

/* toc 3 columns */

.toc-grid {
  display: grid;
  grid-template-columns: 1fr; /* Mobile default */
  gap: 1rem;
  padding: 1rem;
}

.toc-item {
  padding: 0.75rem 1rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toc-item:hover {
  background-color: #e0e0e0;
}

/* On screens wider than 768px: 3 columns */
@media (min-width: 768px) {
  .toc-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
