<h2>🧪 Coding Exercises</h2>

{% assign levels = "easy,medium,hard" | split: "," %}
{% assign labels = "🟢 Beginner,🟡 Intermediate,🔴 Advanced" | split: "," %}

{% for i in (0..2) %}
  {% assign level = levels[i] %}
  {% assign label = labels[i] %}

  <h3>{{ label }} Exercises</h3>
  <ol>
    {% for ex in include.exercises %}
      {% if ex.difficulty == level %}
        <li><strong>{{ ex.title | escape  }}</strong></li>
        <p>{{ ex.task }}</p>

        <h4>Requirements</h4>
        {% if ex.requirements %}
        <ul>
        {% for requirement in ex.requirements %}
        <li>{{ requirement | escape }}</li>
        {% endfor %}
         </ul>
         {% else %}
        <p>No specific requirements for this exercise.</p>
        {% endif %}

        {% if ex.hints %}
          <h4>Hints</h4>
          <ul>
            {% for hint in ex.hints %}
              <li>{{ hint | escape }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if ex.input %}
        <details>
          <summary>Input</summary>
          <pre><code>{{ ex.input | escape }}</code></pre>
        </details>
        {% endif %}
        <details>
          <summary>Expected Output</summary>
          <pre><code>{{ ex.output | escape }}</code></pre>
        </details>

        {% if ex.resource %}
          <p>📚 <a href="{{ ex.resource.url }}">{{ ex.resource.name }}</a></p>
        {% endif %}

        <hr>
      {% endif %}
    {% endfor %}
  </ol>
{% endfor %}
