<h2>📝 Multiple Choice Questions</h2>
{% assign levels = "easy,medium,hard" | split: "," %}
{% assign labels = "🟢 Beginner,🟡 Intermediate,🔴 Advanced" | split: "," %}
{% for i in (0..2) %}
{% assign level = levels[i] %}
{% assign label = labels[i] %}
<h3>{{ label }}</h3>
{% assign question_count = 0 %}
{% for q in include.mcqs %}
{% if q.difficulty == level %}
{% assign question_count = question_count | plus: 1 %}
<div class="mcq">
<h3>Q{{ question_count }}. {{ q.question | escape }}</h3>
{% if q.code %}
<pre><code class="language-{{ q.language | escape }}">{{ q.code | escape }}</code></pre>
{% endif %}
<ol type="A">
    {% for option in q.options %}
        <li>
        <div class="icon-text">
        {% if forloop.index == 1 %}
            <i class="fas fa-circle" style="color: red;"></i> <!-- Icon for the first option -->
        {% elsif forloop.index == 2 %}
            <i class="fas fa-square" style="color: white; border: 2px solid black;"></i> <!-- Icon for the second option -->
        {% elsif forloop.index == 3 %}
            <i class="fas fa-check-circle" style="color: black;"></i> <!-- Icon for the third option -->
        {% elsif forloop.index == 4 %}
            <i class="fas fa-dot-circle" style="color: green;"></i> <!-- Icon for the fourth option -->
        {% else %}
            <i class="fas fa-circle" style="color: gray;"></i> <!-- Default icon for other options -->
        {% endif %}
        {{ option | escape }}
        </div>
        </li>
    {% endfor %}
</ol>

<details>
<summary>Answer</summary>
<p><strong>{{ q.answer | escape }}</strong></p>
{% if q.explanation %}
<p><em>{{ q.explanation | escape }}</em></p>
{% endif %}
</details>
<hr>
</div>
{% endif %}
{% endfor %}
{% endfor %}

