<h2>🔍 Review Questions</h2>
<ol>
  {% for q in include.questions %}
    <li>{{ q.prompt }}</li>
    <details>
        <summary>Answer</summary>
        <p><strong>{{ q.answer }}</strong></p>
        
        {% if q.resources %}
          <h3>📚 Related Resources</h3>
          <ul>
            {% for resource in q.resources %}
              <li><a href="{{ resource.url }}">{{ resource.name }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
    </details>
    <hr>
  {% endfor %}
</ol>
