---
layout: default
---

<h1>{{ page.title }}</h1>
<p><em>{{ page.description }}</em></p>
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">
{% endif %}

<p><strong>Topic:</strong> {{ page.topic }}</p>
<hr />

{% assign topic = page.topic %}
{% assign topics = site.data.python.coding-exercises.topics %}
{% assign selected_topic = topics | where: "topic", topic | first %}
{% assign exercises = selected_topic.exercises %}
{% include pap/coding-exercises-loop.html exercises=exercises topic=topic %}


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1602443888929206"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-1602443888929206"
     data-ad-slot="7879511511"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>