---
layout: default
---
<!-- <header>
        <nav>
            <ul>
                <li><a href="/python/">Home</a></li>
                <li><a href="/python/docs/">Docs</a></li>
                <li><a href="/python/posts/">Posts</a></li>
                <li><a href="/python/quizzes/">Quizzes</a></li>
                <li><a href="/python/resources/">Resources</a></li>
            </ul>
        </nav>
    </header> -->
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
    {{ content }}
    
    <hr>
    
    {% if page.course %}
    {% assign topic = page.topic | default: "" %}
    {% assign course = page.course | default: "" %}
    {% include practice-and-progress.html topic=topic course=course %}
    {% endif %}
    
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1602443888929206"
     crossorigin="anonymous"></script>
<!-- display square -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1602443888929206"
     data-ad-slot="9845543342"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    {% if page.toc %}
    <h3>Explore More Topics</h3>
    {% assign show_heading = false %}
    {% include {{page.toc}} show_heading=show_heading %}
    {% endif %}
    
    <hr>

    <div class="nav-links">
        {% if page.prev %}
          <a href="{{ page.prev | absolute_url}}">&laquo; Back</a>
        {% endif %}
        
        {% if page.next %}
          <a href="{{ page.next | absolute_url}}">Next &raquo;</a>
        {% endif %}
    </div>

     
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1602443888929206"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-1602443888929206"
     data-ad-slot="7879511511"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>