---
layout: default
---
<!-- <header>
        <nav>
            <ul>
                <li><a href="/python/">Home</a></li>
                <li><a href="/python/docs/">Docs</a></li>
                <li><a href="/python/posts/">Posts</a></li>
                <li><a href="/python/quizzes/">Quizzes</a></li>
                <li><a href="/python/resources/">Resources</a></li>
            </ul>
        </nav>
    </header> -->
<article class="page">
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
    <div class="page-content">
        {{ content }}
    </div>

    <!-- <h1>{{ page.subject }}</h1>
    <h1>{{ page.topic }}</h1>
     -->
    <hr>
    
    {% if page.topic %}
    {% assign topic = page.topic %}
    {% assign subject = page.subject %}
    {% include practice-and-progress.html topic=topic subject=subject %}
    {% endif %}
    
    <hr>

    {% if page.toc %}
    <h3>Explore More Topics</h3>
    {% assign show_heading = false %}
    {% include {{ page.toc }} show_heading=show_heading %}
    {% endif %}
    
    <hr>

    <div class="nav-links">
        {% if page.prev %}
          <a href="{{ page.prev | relative_url}}">&laquo; Back</a>
        {% endif %}
        
        {% if page.next %}
          <a href="{{ page.next | relative_url}}">Next &raquo;</a>
        {% endif %}
      </div>
      
</article>