---
layout: default
---
    <!-- <header>
        <nav>
            <ul>
                <li><a href="/python/">Home</a></li>
                <li><a href="/python/docs/">Docs</a></li>
                <li><a href="/python/posts/">Posts</a></li>
                <li><a href="/python/quizzes/">Quizzes</a></li>
                <li><a href="/python/resources/">Resources</a></li>
            </ul>
        </nav>
    </header> -->
    <article class="age">
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
        <p class="page-meta">
        Author: {{ page.author }} 
        </p>
        <div class="page-content">
          {{ content }}
        </div>
        <hr>
      
        <p><a href="../index.html">← Back to Excel Articles</a></p>
      </article> 
    <!-- <aside>
        <h3>Explore More Topics</h3>
        <ul>
            <li><a href="/python/docs/classes.html">Classes and Objects</a></li>
            <li><a href="/python/docs/oop-inheritance.html">Inheritance in Python</a></li>
            <li><a href="/python/docs/functions.html">Functions in Python</a></li>
            <li><a href="/python/docs/error.html">Exception Handling</a></li>
            <li><a href="/python/docs/comprehensions.html">List and Dictionary Comprehensions</a></li>
        </ul>
    </aside> -->
