---
layout: default
---

<h1>{{ page.title }}</h1>
<p><em>{{ page.description }}</em></p>
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">
{% endif %}

{% assign topic = page.topic %}
{% assign topics = site.data.python.true-false.topics %}
{% assign selected_topic = topics | where: "topic", topic | first %}
{% assign questions = selected_topic.questions %}
{% assign resources = selected_topic.resources %}

{% include pap/true-false-loop.html questions=questions resources=resources topic=topic %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1602443888929206"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-1602443888929206"
     data-ad-slot="7879511511"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>